export DATABASE_POOL_SIZE=10
export DATABASE_URL=postgres://user:password@localhost/macaco_dev
export NODE_ENV=development
export PORT="3000"
export SERVER_SECRET=
export TEST_DATABASE_URL=postgres://user:password@localhost/macaco_test
export WEB_CONCURRENCY=2
